<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumamos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-fixed-top">
        <header class="header">
            <a href="">
                <img src="~/Content/logoresumamos.png" alt="" width="1374" height="293" class="logo" />
            </a>

            <!-- LO MISMO PERO A LA VIEW DE REGISTER -->

                <a class="btnheader" style="float: right;" >Registrate</a>

            <a href=""class="btnheader" style="float: right;" >Iniciar sesión</a>



        </header>

        </div>

            <div class="container">






                <div class="container body-content">
                    @RenderBody()
                    <footer>
                        <img src="~/Content/logoresumamos.png" alt="" width="1374" height="293" class="logofooter" />
                        <br />
                        <div class="containericons">
                            <img src="~/Content/fbicon.png" alt="" width="148" height="149" class="iconimg" />
                            <img src="~/Content/igicon.png" alt="" width="148" height="149" class="iconimg" />
                            <img src="~/Content/twitterimg.png" alt="" width="148" height="149" class="iconimg" />
                        </div>
                        <br />

                        <p> Copyright © 2019 <b>Resumamos!</b></p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </div>

    </body>
    </html>
