<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumamos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-fixed-top">
        <header class="header">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/logoresumamos.png" alt="" width="1374" height="293" class="logo" />
            </a>


            @{
                if (Session["usuario"] != null)
                {
                    <a href="@Url.Action("Cerrar", "Home")" class="btnheader" style="float: right;" href="">Cerrar sesión</a>
                    <a href="@Url.Action("inserRes", "Home")" class="btnheader" style="float: right;" href=""> Subir Resumen </a>
                    <a href="@Url.Action("TraerOrt", "Home")" class="btnheader" style="float: right;" href=""> ORT </a>
                    <a href="@Url.Action("TraerBuber", "Home")" class="btnheader" style="float: right;" href=""> Buber </a>
                    <a href="@Url.Action("TraerSholem", "Home")" class="btnheader" style="float: right;" href=""> Sholem </a>
                    <h5 style="float: right;" , padding-right: 3px;>@Session["nombre"]</h5>
                }
                else
                {
                    <a href="@Url.Action("CrearCuenta", "Home")" class="btnheader" style="float: right;" href="">Registrate</a>
                    <a href="@Url.Action("Loguearse", "Home")" class="btnheader" style="float: right;" href="">Iniciar sesión</a>
                    <a href="@Url.Action("TraerOrt", "Home")" class="btnheader" style="float: right;" href=""> ORT </a>
                    <a href="@Url.Action("TraerBuber", "Home")" class="btnheader" style="float: right;" href=""> Buber </a>
                    <a href="@Url.Action("TraerSholem", "Home")" class="btnheader" style="float: right;" href=""> Sholem </a>
                    <h5 style="float: right;" , padding-right: 3px;>@Session["nombre"]</h5>
                }

               
            }



        </header>

        </div>

            <div class="container">






                <div class="container body-content">
                    @RenderBody()
                    <footer>
                        <img src="~/Content/logoresumamos.png" alt="" width="1374" height="293" class="logofooter" />
                        <br />
                        <div class="containericons">
                            <a href="https://www.facebook.com/resumamosargentina/" target="_blank">
                            <img src="~/Content/fbicon.png" alt="" width="148" height="149" class="iconimg" />
                            </a>

                            <a href="https://www.instagram.com/resumamosargentina/" target="_blank">
                            <img src="~/Content/igicon.png" alt="" width="148" height="149" class="iconimg" />
                            </a>

                            <a href="https://www.twitter.com/resumamosargentina/" target="_blank">
                            <img src="~/Content/twicon.png" alt="" width="148" height="149" class="iconimg" />
                            </a>
                        </div>
                        <br />

                        <div class="copyright">
                        <p> Copyright © 2019 <b>Resumamos!</b></p>
                        </div>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </div>

    </body>
    </html>
