@using TP_FInal_Resumenes.Models
@{
                ViewBag.Title = "Home";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resumamos!</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!--   CONTAINER   -->
    <div class="container">
        <!-- Header -->
        <!-- Hero Section -->

        <br />
        <br />
        <br />
        <br />
        <div class="shows">

            <center>

                <div class="shows"> <img src="~/Content/shows.png" alt="" width="615" height="60" /></div>
            </center>
        </div>
    
        <!-- Stats Gallery Section -->


                @foreach (Resumenes res in ViewBag.lista)
                {
                    <div class="thumbnail">
                        <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                        <h4>@res.Nombre </h4>
                        <p class="tag">@BD.TraerMateriaxId(res.FkMateria).NombreMateria</p>
                        <p class="tag">@BD.TraerEscuelaxId(res.FkEscuela).NombreEscuela</p>
                        <p class="tag">Puntuacion:@res.Puntuacion</p>
                        @if (Session["usuario"] != null)
                        {
                            <a href="@Url.Action("ImageDownload", "Home", new { Id = res.IdResumen })" class="btnA btnA-white btnA-animate">
                                Descargar
                            </a>
                            <a href='@Url.Action("SumarMeGusta", "Home", new { Id = res.IdResumen })' class="btnA btnA-white btnA-animate">
                                Me Gusta
                            </a>


                            if (Session["admin"] != null)
                            {
                                <a href='@Url.Action("EliminarRes", "Home", new { Id = res.IdResumen })' class="btnA btnA-white btnA-animate">
                                    Eliminar Resumen
                                </a>

                            }
                        }

                    </div>

                    <hr />
                    <hr />
                    <hr />
                }
            </div>
                <center>

                    <div class="showdwn">
                        <img src="~/Content/bannerbg.png" alt="" width="100%" height="100%" />

                        <div class="showdwntext"><b>REGISTRÁTE, CONFIGURÁ TU PERFIL,</b></div>
                        <div class="showdwncenter"><b>Y EMPEZÁ A SUBIR TUS APUNTES.</b></div>
                        <div class="showdwnthird"><b>UNAMOS A LOS ESTUDIANTES.</b></div>
                        <div class="showdwnbutton">
                            <a href="@Url.Action("CrearCuenta", "Home")" class="showdwnbtn">REGISTRÁTE</a>
                        </div>
                    </div>
                </center>


                <!-- Footer Section -->
                <!-- Copyrights Section -->



         
        
    <!-- Main Container Ends -->
</body>
</html>